*{
    div{
        border: ;
    }
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(246, 218, 222);
}


.main{
    width: 400px;
    background: white;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.t1{
    text-align: center;
}

.t1 img{
    width: 60px;
    height: 60px;
}


.middle{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.m1{
    font-weight: bold;
    font-size: 14px;
}

.m2{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
}

.m22{
    display: flex;
    align-items: center;
    gap: 10px;
}

.email img{
    width: 20px;
    height: 20px;
}
.m51 img{
    width: 20px;
    height: 20px;
}

.user input{
    border: none;
   outline: none;
    width: 100%;
    font-size: 14px;
}
.m52 input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
}

.m3{
    font-size: 12px;
    color: gray;
}
.m4{
    font-weight: bold;
    font-size: 14px;
}
.m5{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    display: flex;

}
.m6{
    font-size: 12px;
    color: gray;
}
.b1 button{
    width: 100%;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    
}

.bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.b3{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
    color: gray;
    
}
