* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #e9e3ec, #dfe7f2);
}

.card {
  width: 420px;
  background: #f5f5f7;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.logo-circle {
  width: 70px;
  height: 70px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  background: linear-gradient(135deg, #7b2ff7, #f107a3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 28px;
}

.title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 30px;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
}

.input-box {
  display: flex;
  align-items: center;
  background: #e9e9ed;
  border-radius: 8px;
  padding: 10px;
}

.input-box input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 14px;
}

.icon {
  margin-right: 8px;
  color: #6b7280;
}
.icon img{
  height: 20px;
  width: 20px;
}

.form-group small {
  font-size: 12px;
  color: #6b7280;
  display: block;
  margin-top: 6px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #7b2ff7, #f107a3);
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease;
}

.login-btn:hover {
  opacity: 0.9;
}

.register-text {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.register-link {
  color: #7b2ff7;
  font-weight: 600;
  cursor: pointer;
}

.bottom-links {
  margin-top: 12px;
  font-size: 13px;
  color: #6b7280;
}

.bottom-links span {
  cursor: pointer;
}

.dot {
  margin: 0 8px;
}
img{
  height: 100%;
  width:  100%;
}