* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #e9e3ec, #dfe7f2);
  padding: 40px 20px;
}

.card {
  width: 750px;
  background: #f5f5f7;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.logo-circle {
  width: 75px;
  height: 75px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: linear-gradient(135deg, #7b2ff7, #f107a3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
}

.title {
  font-size: 28px;
  font-weight: 600;
}

.subtitle {
  font-size: 15px;
  color: #6b7280;
  margin: 10px 0 30px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 25px;
  text-align: left;
}

.form-group label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

.input-box {
  display: flex;
  align-items: center;
  background: #e9e9ed;
  border-radius: 8px;
  padding: 10px;
}

.input-box input,
.input-box select {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 14px;
}

textarea {
  width: 100%;
  height: 90px;
  border: none;
  outline: none;
  background: #e9e9ed;
  border-radius: 8px;
  padding: 12px;
  font-size: 14px;
  resize: none;
}

.icon {
  margin-right: 8px;
  color: #6b7280;
}

.full-width {
  grid-column: span 2;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #7b2ff7, #f107a3);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.3s ease;
}

.submit-btn:hover {
  opacity: 0.9;
}

.login-text {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.login-text span {
  color: #7b2ff7;
  font-weight: 600;
  cursor: pointer;
}

.bottom-links {
  margin-top: 10px;
  font-size: 13px;
  color: #6b7280;
}

.bottom-links span {
  cursor: pointer;
}

.dot {
  margin: 0 8px;
}
img{
  height: 20px;
  width: 20px;
}